Mart/.vs/Mart/FileContentIndex/f37c7b00-96fd-497d-b11d-1d7f290eda0c.vsidx
Mart/.vs/Mart/FileContentIndex/52b4a7c5-cb8a-45f8-9fe7-694091b3c64e.vsidx
Mart/.vs/Mart/FileContentIndex/6021b0a9-c96f-4f7b-87e9-77cf0e6c0af6.vsidx
Mart/.vs/Mart/FileContentIndex/a0578bb9-8d3b-4a70-811b-7791070bb3b1.vsidx
Mart/Core.WebApi.EF/obj/Debug/net6.0/refint/Core.EF.dll
Mart/.vs/Mart/DesignTimeBuild/.dtbcache.v2
Mart/.vs/Mart/v17/.futdcache.v2
Mart/.vs/Mart/v17/.suo
Mart/.vs/ProjectEvaluation/mart.metadata.v7.bin
Mart/.vs/ProjectEvaluation/mart.projects.v7.bin
Mart/Core.Mart.WebApi/bin/Debug/net6.0/Core.EF.dll
Mart/Core.Mart.WebApi/bin/Debug/net6.0/Core.EF.pdb
Mart/Core.Mart.WebApi/bin/Debug/net6.0/Core.Mart.WebApi.dll
Mart/Core.Mart.WebApi/bin/Debug/net6.0/Core.Mart.WebApi.pdb
Mart/Core.Mart.WebApi/obj/Debug/net6.0/Core.Mart.WebApi.csproj.AssemblyReference.cache
Mart/Core.Mart.WebApi/obj/Debug/net6.0/Core.Mart.WebApi.csproj.CoreCompileInputs.cache
Mart/Core.Mart.WebApi/obj/Debug/net6.0/Core.Mart.WebApi.dll
Mart/Core.Mart.WebApi/obj/Debug/net6.0/Core.Mart.WebApi.pdb
Mart/Core.Mart.WebApi/obj/Debug/net6.0/ref/Core.Mart.WebApi.dll
Mart/Core.Mart.WebApi/obj/Debug/net6.0/refint/Core.Mart.WebApi.dll
Mart/Core.WebApi.EF/bin/Debug/net6.0/Core.EF.dll
Mart/Core.WebApi.EF/bin/Debug/net6.0/Core.EF.pdb
Mart/Core.WebApi.EF/obj/Debug/net6.0/Core.EF.csproj.CoreCompileInputs.cache
Mart/Core.WebApi.EF/obj/Debug/net6.0/Core.EF.csproj.FileListAbsolute.txt
Mart/Core.WebApi.EF/obj/Debug/net6.0/Core.EF.dll
Mart/Core.WebApi.EF/obj/Debug/net6.0/Core.EF.pdb
Mart/Core.WebApi.EF/obj/Debug/net6.0/ref/Core.EF.dll
Mart/.vs/Mart/FileContentIndex/f10f14a6-eda1-4442-b52d-2100696bb57d.vsidx
Mart/.vs/Mart/FileContentIndex/091f4000-3e46-41b6-bc37-eea8498281ac.vsidx
Mart/.vs/Mart/FileContentIndex/b4f55c51-6745-46eb-8dbc-05e9baef39d6.vsidx
Mart/.vs/Mart/FileContentIndex/b6b6c458-f780-4b3f-af14-4b96b9b1d522.vsidx
Mart/.vs/Mart/FileContentIndex/cf489a20-7b9d-4ff9-9fb9-7c30f8090993.vsidx
Mart/.vs/Mart/FileContentIndex/8f757695-8ab0-49fd-84e5-15d3aae400c6.vsidx
Mart/.vs/Mart/FileContentIndex/4e19830f-bd28-4c81-ae87-a50e75511552.vsidx
Mart/.vs/Mart/FileContentIndex/0c4e2e5f-807a-472c-828e-5a9799da8d59.vsidx
Mart/.vs/Mart/FileContentIndex/027d4256-8b85-469c-8ce4-259316859047.vsidx
